*

{
	background:#000000;
}
h1
{
	background:#00CCCC;
	color:#606060;
	font-family:fantasy;
}
h3
{
   background:#00CCCC;
   Color:black;
   font-family:serif;
}
h2
{
   background:#0000CC;
   color:white;
   font-family:serif;
}   
h4
{
   Color:white;
   font-family:cursive;
}