*

{
	background:#006633;
}
h1
{
	background:#00CC66;
	color:black;
	font-family:sans-serif;
}
h3
{
   background:#009900;
   Color:black;
   font-family:sans-serif;
}
h4
{
   Color:white;
   font-family:cursive;
}