*

{
	background:#6666FF;
}
h1
{
	background:#00CCCC;
	color:#000000;
	font-family:fantasy;
}
h3
{
   background:#FFFFFF;
   Color:black;
   font-family:serif;
}
h2
{
   background:#0000CC;
   color:white;
   font-family:serif;
}   